# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual Environments
venv/
.venv/

# Unit test / coverage reports
coverage.xml
.pytest_cache/

# Pycharm
.idea/

# VS Code
.vscode/

# macOS
.DS_Store
